@use "../styles/global_vars"
    
.btn
    color: global_vars.$text-color
    // font-size: 2.5vh
    font-size: 1.6rem
    cursor: pointer
    &._dark
        color: global_vars.$dk-text-color
    &:hover
        color: global_vars.$selected-color
    &._dark:hover
        color: global_vars.$dk-selected-color