@import '../styles/global_vars'
    
.parent
    position: relative

.canvas
    width: 90vw
    height: 80vh
    position: fixed
    top: 10vh
    left: 5vw
    border-radius: 7px

.header
    margin-top: 50vh
    margin-bottom: 15vh
    text-align: center

