$is-a-phone: "(max-aspect-ratio: 4/5)"

// default
$border-radius: 0.6rem
$blur-amount: 7px
$hue-rotate: 0deg
$background-opacity: 100%

// dark mode
$dk-text-color: rgb(192, 181, 178)
$dk-selected-color: #474761
$dk-border-color: #474543
$dk-frosted-glass: rgba(44, 44, 44, 0.753)
$dk-frosted-glass-opaque: rgb(41, 41, 41)
$dk-primary: rgb(24, 24, 26)
$dk-secondary: rgba(13, 13, 14, 0.767)

// light mode
$text-color: #252525
$selected-color: #aaaad4
$border-color: #a5a09a
$frosted-glass: rgba(233, 233, 233, 0.705)
$frosted-glass-opaque: rgb(218, 218, 218)
$primary: rgb(225 225 225)
$secondary: #c1c4c5
