@import "../styles/global_vars"    
    
.seemyprojects
    cursor: pointer
    margin-top: 4rem
    margin-bottom: 4rem
    // font-size: 2.8vh
    font-size: $font-size-big
    text-align: center
    transition: color 0.2s
    color: $text-color
    font-weight: bolder
    &._dark
        color: $dk-text-color
    &:hover
        color: $selected-color
        font-weight: bold
    &._dark:hover
        color: $dk-selected-color

.bold
    font-weight: bold
    color: rgb(52, 51, 56)
    &._dark
        color: rgb(209, 199, 180)

.display_art_parent
    margin-top: 3vh
    margin-bottom: 10vh
    @media #{$is-a-phone}
        display: none

.image_parent
    margin: 1rem
.image
    display: block
    margin: auto
    margin-top: 2rem
    margin-bottom: 1rem
    
    height: 17rem
    width: 17rem
    // height: 270px
    // width: 270px
    max-width: 100%
    position: relative
    & *
        object-fit: contain
        border-radius: 0.6rem
        
.image_legend
    text-align: center
    // font-size: 1.8vh
    font-size: $font-size-small
    color: $text-color
    &._dark
        color: $dk-text-color
