@import "../styles/global_vars"    
    
.seemyprojects
    cursor: pointer
    margin-top: 4rem
    margin-bottom: 4rem
    font-size: 2.8vh
    text-align: center
    transition: color 0.2s
    color: $text-color
    &._dark
        color: $dk-text-color
    &:hover
        color: $selected-color
        font-weight: bold
    &._dark:hover
        color: $dk-selected-color

.bold
    font-weight: bold
    color: rgb(52, 51, 56)
    &._dark
        color: rgb(209, 199, 180)

.image
    border-radius: 0.6rem
    margin-top: 2rem
    margin: 1rem
.image_legend
    text-align: center
    font-size: 1.8vh
    color: $text-color
    &._dark
        color: $dk-text-color

