@import "../styles/global_vars.sass"
@import "../styles/CSS3_mixins.scss"

.line
    display: flex
    flex-direction: row
    @media (max-aspect-ratio: 1/2)
        flex-direction: column

.line-wrap
    display: flex
    flex-direction: row
    flex-wrap: wrap